.card{
  border:0!important;
}

.bg{
  background: #203756;
  position:static;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.body-card{
  background: #78C2B4;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-image {
  mix-blend-mode: luminosity;
  opacity: 0.49;
}

.title {
  position: absolute;
  top: 5vw;
  left: 7vh;
  color: white !important;
  font-weight: bold !important;
  font-size: 64px !important;
  width: 497px;
}

.tombol {
  width: 116px;
  background: #203756;
  border-color: #203756;
}
