nav .container-fluid {
  padding: 2vw 14vw;
}

@media screen and (max-width: 991.75px) {
  nav .container-fluid {
    display: block !important;
  }

  nav .navbar-brand {
    margin-left: 4vw;
  }
}

nav .nav-link {
  font-weight: 600;
  font-size: 16px;
  color: #0d0a19 !important;
  margin-right: 3vw;
}

nav .nav-daftar1,
nav .nav-daftar2 {
  color: #9a9ea7 !important;
  font-weight: 600;
  font-size: 14px;
}

nav .nav-daftar2 {
  position: absolute;
  right: 2vw;
  display: none;
}

@media screen and (max-width: 991.75px) {
  nav .nav-daftar1 {
    display: none;
  }

  nav .nav-daftar2 {
    display: inline;
    padding-top: 2vw;
  }
}

.navbar-light .navbar-toggler {
  border: 0;
}

.home-head {
  border-radius: 20px;
  background: #203756;
  padding-left: 0;
  padding-right: 0;
  height: 555px;
  margin-bottom: 90px;
}

.home-head .image {
  position: absolute;
  mix-blend-mode: luminosity;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.home-head .con {
  padding-top: 8vw;
  padding-left: 5vw;
  padding-bottom: 5vw;
  position: relative;
  z-index: 2;
}

.home-head .title {
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.266667px;
  color: #ffffff;
  margin-bottom: 33px;
}

.home-head .search,
.mobil-cari .search {
  border-radius: 8px;
  background: white;
}

.mobil-cari {
  margin-bottom: 99px;
  padding-left: 100px;
  padding-right: 100px;
}

.mobil-cari .search {
  box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
  border-radius: 8px;
}

.home-head .search .item,
.mobil-cari .search .item {
  width: 20%;
  padding-top: 8px;
}

.home-head .search .item.li,
.mobil-cari .search .item.li {
  border-right: 1px solid #ede8e9;
}

@media screen and (max-width: 991.75px) {
  .home-head .title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }

  .home-head .con {
    padding-top: 8vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
    position: relative;
    z-index: 2;
  }

  .home-head .bot-header {
    display: none;
  }

  .home-head .search .item.li,
  .mobil-cari .search .item.li {
    border-right: 0;
  }
  .home-head .search .item .search,.mobil-cari .search .item .search {
    margin-bottom: 18px;
  }

  .mobil-cari {
    margin-bottom: 53px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .mobil-cari .title{
    text-align: left;
  }
}

.home-head .search .item .property,
.mobil-cari .search .item .property {
  color: #9a9ea7;
  font-size: 12px;
  margin-bottom: 0;
}

.home-head .search .item select,
.mobil-cari .search .item select {
  border: 0;
  margin-bottom: 12px;
  margin-left: -4px;
}

.home-head .search .item .option,
.mobil-cari .search .item .option {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.1px;
  color: #0d0a19;
}

.home-head .search .item .search,
.mobil-cari .search .item .search {
  background: #78c2b4;
  border-color: #78c2b4;
  border-radius: 10px;
  color: white;
  width: 90%;
}

.home-head .search .item .fa,
.mobil-cari .search .item .fa {
  font-size: 14px;
  font-weight: 100;
  margin-right: 0.5vw;
}

.bot-header .start-video {
  cursor: pointer;
}

.bot-header .text1 {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 0;
}

.bot-header .text2 {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.1px;
  color: #ffffff;
  margin-bottom: 0;
}

.car-logo {
  margin-bottom: 85px !important;
}

.car-logo .jr {
  margin-right: 60px;
}

.iklan-favorit {
  margin-bottom: 112px;
}

.iklan-favorit .title {
  margin-bottom: 40px;
}

.iklan-favorit .title,
.temukan-mobil .title,
.jelajahi-merek .title,
.jelajahi-merek2 .title,
.ulasan-terbaru .title,
.ulasan-terbaru2 .title,
.mobil-cari .title,
.populer .title {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: -0.1px;
  color: #0d0a19;
}

.ulasan-terbaru .title{
  margin-bottom: 40px;
}

.populer {
  margin-bottom: 86px;
}

.populer .title{
  margin-bottom: 54px;
}

.jelajahi-merek2 .title{
  margin-bottom: 49px;
}

.jelajahi-merek2 {
  margin-bottom: 92px;
}

@media screen and (max-width: 991.75px) {
  .iklan-favorit .title,
  .temukan-mobil .title,
  .jelajahi-merek .title,
  .jelajahi-merek2 .title,
  .ulasan-terbaru .title,
  .ulasan-terbaru2 .title,
  .mobil-cari .title,
  .populer .title {
    font-size: 22px;
  }

  .iklan-favorit {
    margin-bottom: 82px;
  }

  .iklan-favorit .title {
    margin-bottom: 26px;
  }

  .temukan-mobil .slider-num {
    display: none !important;
  }

  .temukan-mobil {
    margin-bottom: 91px;
  }

  .ulasan-terbaru .title{
    margin-bottom: 23px;
  }

  .populer .title{
    text-align: left;
  }

  .populer .title{
    margin-bottom: 24px;
  }

  .populer {
    margin-bottom: 40px;
  }

  .jelajahi-merek2 .title{
    margin-bottom: 32px;
    text-align: left;
  }

  .jelajahi-merek2 {
    margin-bottom: 49px;
  }
}

.iklan-favorit img {
  border-radius: 6px 6px 0px 0px;
  margin-bottom: 16px;
  height: 188px;
}

.iklan-favorit .item-title,
.temukan-mobil .item-title,
.ulasan-terbaru .item-title,
.ulasan-terbaru2 .item-title,
.populer .item-title {
  font-weight: bold;
  font-size: 16px;
  color: #0d0a19;
  margin-bottom: 0;
}

.iklan-favorit .item-sub-title,
.ulasan-terbaru .item-sub-title,
.ulasan-terbaru2 .item-sub-title,
.populer .item-sub-title {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.1px;
  color: #9a9ea7;
}

.temukan-mobil {
  margin-bottom: 121px;
}

.temukan-mobil .slider-num {
  font-weight: bold;
  font-size: 16px;
  color: #9a9ea7;
}

.temukan-mobil .text-right img {
  cursor: pointer;
}

.temukan-mobil .col-3 img,
.temukan-mobil .col.px-0 img {
  height: 117px;
  margin-bottom: 25px;
}

.populer .col-4 img {
  height: 200px;
  margin-bottom: 14px;
}

.temukan-mobil button {
  background: #f5f6f7;
  border-color: #f5f6f7;
  border-radius: 8px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -0.1px;
  color: #9a9ea7;
  margin-top: 13px;
}

.temukan-mobil button:hover {
  background: #ebf6f4;
  border-color: #ebf6f4;
  color: #78c2b4;
}

.populer button.btn1 {
  background: #ebf6f4;
  border-color: #ebf6f4;
  border-radius: 8px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -0.1px;
  color: #78c2b4;
  margin-top: 13px;
}

.populer button.btn2 {
  background: #f5f6f7;
  border-color: #f5f6f7;
  border-radius: 8px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -0.1px;
  color: #9a9ea7;
  margin-top: 13px;
  color: #9a9ea7;
}

.jelajahi-merek {
  background-image: url("../../components/Img/bg_jelajahi_merk.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 50px;
  margin-bottom: 41px;
}

.jelajahi-merek .sub-title,
.jelajahi-merek2 .sub-title {
  font-size: 14px;
  letter-spacing: -0.1px;
  color: #9a9ea7;
  margin-top: 1vw;
}

.jelajahi-merek .car-card,
.jelajahi-merek2 .car-card {
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
  border-radius: 6px;
  margin-bottom: 18px;
  cursor: pointer;
}

.jelajahi-merek .car-card .row,
.jelajahi-merek2 .car-card .row {
  height: 96px;
}

.jelajahi-merek .item-title,
.jelajahi-merek2 .item-title {
  font-weight: bold;
  font-size: 18px;
  color: #0d0a19;
  margin-bottom: 0;
}

.jelajahi-merek .item-sub-title,
.jelajahi-merek2 .item-sub-title {
  font-size: 14px;
  letter-spacing: -0.1px;
  color: #9a9ea7;
  margin-bottom: 0;
}

.ulasan-terbaru,
.ulasan-terbaru2 {
  margin-bottom: 99px;
}

.ulasan-terbaru .col-4 img,
.ulasan-terbaru2 .col-4 img {
  border-radius: 8px;
  height: 228px;
  margin-bottom: 16px;
}

.ulasan-terbaru .mySwiper img {
  border-radius: 8px;
  height: 160px;
  width: 250px;
  margin-bottom: 16px;
}

.ulasan-terbaru .review,
.ulasan-terbaru2 .review {
  margin-top: 22px;
}

.ulasan-terbaru .review .col-2 img,
.ulasan-terbaru2 .review .col-2 img {
  height: 42px;
  width: 42px;
}

.ulasan-terbaru .review .item-title,
.ulasan-terbaru2 .review .item-title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.1px;
  color: #0d0a19;
  margin-right: 5px;
  margin-bottom: 0;
}

.ulasan-terbaru .review .item-sub-title,
.ulasan-terbaru2 .review .item-sub-title {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.1px;
  color: #9a9ea7;
  margin-bottom: 0;
}

.ulasan-terbaru .review .col-4 .row .col-4 img,
.ulasan-terbaru2 .review .col-4 .row .col-4 img,
.ulasan-terbaru .review .col-5 img {
  height: 18px;
  width: 18px;
  margin-right: 4px;
  margin-bottom: 0;
  margin-top: -4px;
}

.header-dealer {
  margin-top: 80px;
  margin-bottom: 135px;
}

.header-dealer .sub-title {
  font-weight: normal;
  font-size: 16px;
  color: #9a9ea7;
  margin-bottom: 10px;
}

.header-dealer .title {
  font-weight: bold;
  font-size: 64px;
  letter-spacing: -0.177778px;
  color: #0d0a19;
  margin-bottom: 49px;
}

.header-dealer .col-1 img {
  cursor: pointer;
}

.header-dealer button.detail {
  background: #f5f6f7;
  border-color: #f5f6f7;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.1px;
  color: #9a9ea7;
  margin-right: 6px;
  height: 48px;
  padding-left: 64px;
  padding-right: 64px;
}

.header-dealer button.test-drive {
  background: #78c2b4;
  border-color: #78c2b4;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #ffffff;
  margin-left: 6px;
  height: 48px;
  padding-left: 64px;
  padding-right: 64px;
}

.header-dealer .img-sec .title {
  font-weight: bold;
  font-size: 48px;
  letter-spacing: -0.133333px;
  color: #0d0a19;
  position: absolute;
  top: -4vw;
  left: 17vw;
}

.header-dealer .img-sec .sub-title {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.1px;
  color: #0d0a19;
  position: absolute;
  top: 1vw;
  left: 18.5vw;
}

.header-dealer .sec2 {
  margin-bottom: 147px;
}

@media screen and (max-width: 991.75px) {
  .header-dealer .sub-title {
    font-size: 16px;
    line-height: 24px;
  }

  .header-dealer .title {
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
  }

  .header-dealer .img-sec img {
    width: 371px;
    height: 147px;
  }

  .header-dealer .img-sec .title {
    font-size: 30px;
    line-height: 48px;
    top: -8vw;
    left: 5vw;
  }

  .header-dealer .img-sec .sub-title {
    font-size: 12px;
    line-height: 18px;
    top: 2vw;
    left: 5vw;
  }

  .header-dealer .col-1 {
    display: none;
  }

  .header-dealer .col-10 {
    max-width: 100%;
    flex: 100%;
  }

  .header-dealer button.detail,
  .header-dealer button.test-drive {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header-dealer .sec2 {
    margin-bottom: 104px;
  }
}

.mySwiper {
  display: none;
}

@media screen and (max-width: 991.75px) {
  .mySwiper {
    display: block;
  }

  .car-logo, .desktop {
    display: none;
  }

  .ulasan-terbaru .mySwiper .px-0 .top {
    height: 85vw;
  }

  .populer .mySwiper .item-title,.populer .mySwiper .item-sub-title,.populer .mySwiper .col{
    text-align: left;
  }

  .populer .mySwiper img{
    width: 250px;
    height: 160px;
  }

  .ulasan-terbaru img{
    width: 250px;
    height: 160px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.iklan-favorit .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.iklan-favorit .swiper-slide,
.ulasan-terbaru .swiper-slide {
  text-align: left;
}

.car-logo .swiper-slide img {
  display: block;
  width: auto;
}

.swiper-pagination {
  display: none;
}
